// Specific CSS for your home-page
body {
  background-color: white;
  font-family: 'Cantarell', sans-serif;
}

footer {
  margin: 7px;
  padding: 7px;
  opacity: 0.5;
}

.home {
  margin-top: 86px;
}
