// Specific CSS for your home-page
body {
  background-color: white;
  font-family: 'Cantarell', sans-serif;
}

footer {
  margin: 7px;
  padding: 7px;
  opacity: 0.5;
}

.home {
  justify-content: space-between;
  // position: relative;
  margin-top: 86px;
  .img {
    margin-top: 86px;
    // position: absolute;
    img {
      width: 900px;
      margin-left: 12px;
      margin-right: 50px;
    }
  }
}

.presentation {
  display: flex;
  justify-content: end;
  margin-right: 12px;
  color: #572EFA;
  font-family: 'Cantarell', sans-serif;
  h1 {
    font-family: 'Cantarell', sans-serif;
  }
  // &.title {
  //   z-index: 1;
  // }
}

.home-text {
  flex-direction: column;
  margin: 20px;
}

.carrousel-img {
  width: 80px;
  height: 500px;
  object-fit: cover;
}
