<div class="container">
  <h1>Actualités</h1>

  <% @articles.each do |article| %>
        <%#= link_to '#', data: { bs_toggle:'modal', bs_target:'#exampleModal'} do %>
          <figure class="image-block">
            <%= image_tag article.picture %>
            <%# <div class="card-infos"> %>
            <figcaption>
              <p><%= article.title %></p>
              <p>Voir plus <i class="fa-solid fa-arrow-down"></i></p>
              <p><%= article.content %></p>
            </figcaption>
          </figure>
          <%# </div> %>
        <%# end %>
        <%#= render 'shared/modal' %>
    <%# if policy(@articles).create? %>
      <%#=link_to 'new', new_article_path %>
    <%# end %>
    <%# if policy(@articles).update? %>
      <%#= link_to 'Edit', edit_article_path %>
    <%# end %>
    <%# if policy(@articles).delete? %>
      <%#= link_to 'delete', article_path, method: :delete, data: { confirm: 'Es-tu sure?' } %>
    <%# end %>
  <% end %>
</div>
