<div class="banner expos" style="background-image: url('<%= asset_path randomized_background_image %>');">
</div>
<div class="container">
  <div class="grid">
    <% @articles.each do |article| %>
      <figure class="image-block">
        <%= image_tag article.picture %>
        <figcaption>
          <p><%= article.title %></p>
          <div class='content'>
            <p><%= article.content %></p>
          </div>
        </figcaption>
      </figure>
    <% end %>
  </div>
</div>

    <%# if policy(@articles).create? %>
      <%#=link_to 'new', new_article_path %>
    <%# end %>
    <%# if policy(@articles).update? %>
      <%#= link_to 'Edit', edit_article_path %>
    <%# end %>
    <%# if policy(@articles).delete? %>
      <%#= link_to 'delete', article_path, method: :delete, data: { confirm: 'Es-tu sure?' } %>
    <%# end %>
