<section id="wrapper">
    <div class="content">
      <!-- Tab links -->
      <div class="tabs">
          <button class="tablinks active" data-name='Peinture et nature'><p data-title='Peinture et nature'>Peinture et nature</p></button>
          <button class="tablinks" data-name='Diplôme'><p data-title='Diplôme'>Diplôme</p></button>
          <button class="tablinks" data-name='Expositions'><p data-title='Expositions'>Expositions</p></button>
      </div>

      <!-- Tab content -->
      <div class="wrapper_tabcontent">
          <div id="Peinture et nature" class="tabcontent active">
            <h3>Biographie</h3>
            <p>Actrice de la scène des arts plastiques, Laurence Gibert Leccia peint et expose depuis 35 ans.
            </br>
              Dans son travail, elle évoque depuis toujours la nature. On parle de son travail comme d’une "spontanéité poétique".
            </br>
              Elle est formée à l’école d’Architecture de Montpellier puis à l’école des Beaux Arts de Bordeaux.
            </br>
              Laurence Gibert Leccia, a été présentée lors de multiples expositions en France et à l’étranger.
            </br>
              Elle fait sa première exposition au musée des Beaux Arts de Bordeaux puis est présentée lors de multiples expositions à Montpellier et alentours. (Château d’O, Corum, Carré Sainte Anne, galerie Saint Ravy, galerie Des Bains à Sète, galerie Le Comptoir à Sète).
            </br>
              Laurence Leccia a aussi présenté ses toiles outre mer, en Suède, au Danemark, à Abidjan en côte d’Ivoire, et à Conakry en Guinée, puis à Lourmarin, à Paris, à Barbizon, au musée de Saint Paul de Vence.
            </br>
              Elle a enseigné à l’Ecole d’Architecture de Montpellier jusqu’en 2010, tout en continuant à exposer (Domaine de Verchant, Chapelle des Pénitents de Mèze, RBC Montpellier Nîmes Avignon) et réalise des commandes privées (hôtel de luxe, chais, collectionneurs Boston et Houston aux USA).
            </p>
          </div>
          <div id="Diplôme" class="tabcontent">
            <h3>Biographie</h3>
            <p>
              <ul>
                <li>1989 - Diplôme National Supérieur d’Expression Plastique (DNSEP)</li>
                <li>Ecole des Beaux Arts de Bordeaux</li>
                <li>1985 - licence d’ Architecture</li>
                <li>Ecole d’ Architecture Languedoc – Roussillon</li>
              </ul>
            </p>
          </div>
          <div id="Expositions" class="tabcontent">
            <h3>Biographie</h3>
            <p>
              <ul>
                <li>2016 - Galerie La Méridienne des Sens / Clermont l’Hérault</li>
                </br>
                <li>2015 - Galerie Sète</li>
                </br>
                <li>2015 - Galerie Sophie Julien / Béziers</li>
                </br>
                <li>2014 - Houston / USA</li>
                </br>
                <li>2009 - RBC mobilier / Montpellier</li>
                </br>
                <li>2013 - RBC mobilier / Nîmes</li>
                <li>RBC mobilier / Avignon</li>
                <li>Printemps des Comédiens / château d’ô / Montpellier</li>
                </br>
                <li>2008 - « Vin /20 » / Jardin des Sens</li>
                <li>« les barriques » de Château Puech Haut / Aniane</li>
                </br>
                <li>2007 - « trop féminin? » Chapelle des Pénitents / Mèze</li>
                <li>Centre d’art / Domaine de Lézigno / Béziers</li>
                </br>
                <li>2006 - « trop féminin? » Domaine Verchant / Montpellier</li>
                </br>
                <li>2005 - « les barriques » Vinisud /Château Puech Haut / Montpellier</li>
                </br>
                <li>2000 - Galerie du théâtre d’ô / Château d’ô / Montpellier</li>
                </br>
                <li>1999 - Galerie l’atelier / Aigues Mortes</li>
                </br>
                <li>1998 - « Les artistes de la galerie » Galerie Le Comptoir / Sète</li>
                <li>Galerie Le Comptoir / Sète</li>
                <li>Galerie Got / Paris</li>
                <li>Galerie Rocha/ Barbizon</li>
                <li>Espace Hérault / Paris</li>
                <li>Galerie du Musée de St Paul / Saint Paul de Vence</li>
                </br>
                <li>1997 - Galerie Le Comptoir / Conakry / Guinée</li>
                <li>Galerie Falbala / Clermont Ferrand</li>
                </br>
                <li>1996 - Galerie Le Comptoir / Abidjan / Côte d’Ivoire</li>
                <li>Galerie de l’Office du Tourisme / Conseil général / Montpellier</li>
                </br>
                <li>1995 - Galerie Saint Ravy / Montpellier</li>
                <li>Espace culturel Jacques Coeur / Montpellier</li>
                <li>« La vérité changera l’art » / Festival Les Z’arts 95 / Théâtre des variétés / Béziers</li>
                <li>Esprit du lieu 3 / Carré Sainte Anne / Montpellier</li>
                <li>« Une expo de printemps » / Galerie des bains / Sète</li>
                <li>« 5e salon des artistes de Thau » / Salle Pégase / Frontignan</li>
                </br>
                <li>1994 - Ateliers portes ouvertes / Les Passagers de l’Art / Montpellier</li>
                <li>« L’art en vin » / Chapelle des Abbés de st Aphrodise / Béziers</li>
                <li>Oenopole</li>
                <li>« A la manière de » (Bram van Velde) / Le Centre / Les Passagers de l’Art / Montpellier</li>
                <li>Le Centre / Les passagers de l’art / Montpellier</li>
                <li>« Le Kultur Flirt » / Kultur Pendule Galleri / Aarhus / Danemark</li>
                </br>
                <li>1993 - « le Corum des Peintres » / Le Corum / Montpellier</li>
                <li>« Arts Sud Peinture » / Espace peuple et culture / Montpellier</li>
                <li>Château Le Bouïs / Gruissan / Aude</li>
                </br>
                <li>1992 - « Les peintres du Sud » / Lycée Européen Jean Monnet / Montpellier</li>
                <li>Presbytère de Boüer / Sarthe</li>
                <li>Galerie de l’université populaire de Stockholm / Suède</li>
                </br>
                <li>1991 - Jeunes et Toiles / Mairie du 11e / Paris</li>
                <li>5e salon de Printemps de Lésigny / Seine et Marne</li>
                <li>Espace Gibert / Lézignan – Corbières</li>
                <li>Sax ‘ aphone / Montpellier</li>
                </br>
                <li>1990 - Entreprise ABX (mécénat d’entreprise) / Montpellier</li>
                <li>Marché de l’Art / Montpellier</li>
                <li>Galerie du château / Château d’O / Montpellier</li>
                <li>Hôpital Lapeyronnie / Montpellier</li>
                <li>Performance pour Les Arts au Soleil / La Caravane des Caravanes / Vendres</li>
                <li>Forum Espace Gard / Nîmes</li>
                <li>La Movida / Montpellier</li>
                <li>Bagdad Café / Montpellier</li>
                </br>
                <li>1989 - Atelier In Quarto / Montpellier</li>
                <li>« Salon des Indépendants » / Musée des Beaux Arts / Bordeaux</li>
                <li>Ecole des Beaux Arts / Bordeaux</li>
              </ul>
            </p>
          </div>
      </div>
    </div>
  </section>
