<section id="wrapper">
    <div class="content">
      <!-- Tab links -->
      <div class="tabs">
          <button class="tablinks2 active" data-name='Biographie'><p data-title='Biographie'>Biographie</p></button>
          <button class="tablinks2" data-name='Peinture&Architecture'><p data-title='Peinture&Architecture'>Peinture&Architecture</p></button>
      </div>

      <!-- Tab content -->
      <div class="wrapper_tabcontent">
          <div id="Biographie" class="tabcontent2 active">
            <h3>Biographie</h3>
            <p>Artiste Peintre. Né à Alger en 1941. Vit et travaille à côté de Montpellier.</p>
          </div>
          <div id="Peinture&Architecture" class="tabcontent2">
            <h3>Biographie</h3>
            <p>Acteur notoire de la scène des arts plastiques dans le Sud de la France, Jean Leccia exprime depuis un demi-siècle les couleurs de la Méditerrannée à travers fresques, affiches, performances et expositions d’art contemporain.
              <br>
              Jean Leccia entre à l’école des Arts décoratifs de Nice en 1961 et fait sa première exposition à Menton puis au Salon des Arts et des Lettres à Paris dès 1963.
              <br>
              Il travaillera ensuite auprès d’un architecte à Nice, et réalise une première fresque pour un particulier à Menton en 67. En 1969 il commence une carrière d’enseignant à l’Ecole d’architecture de Montpellier.
              <br>
              Au fil des années 70, il enseigne et expose entre Montpellier, Nice, Sète, Toulouse.
              <br>
              Sa première rétrospective a lieu à Bordeaux dès 1977 !
              <br>
              En 1979 il expose au Musée Fabre de Montpellier qui lui achète deux toiles.
              <br>
              Dans les années 80 il continue d’exposer et engage un travail parallèle d’affichiste et de sculpteur;
              <br>
              Il réalise une fresque de 200M2 en zinc à Miramas.
              <br>
              En 2000 il part en résidence d’artiste à Tanger et expose à la galerie Delacroix de l’Institut français de Tanger.
              <br>
              En 2006 il investit le Domaine de Verchant.
              <br>
              En 2008 il réalise quatre performances au Printemps des Comédiens à Montpellier.
              <br>
              En 2011, il peint une toile 4mx4m pour une usine à Shangaï.
              <br>
              En 2012 il fait une exposition particulière, à Montpellier.
              <br>
              En 2013 il réalise une performance pour la mairie de Montpellier.
              <br>
              Tout au long de ce demi-siècle écoulé, Jean Leccia n’aura jamais cessé de peindre et d’exposer, prodiguant inlassablement ses couleurs, matières et formes contemporaines sur les murs et les toiles d’espaces à investir, particulièrement dans la région Montpelliéraine.
            </p>
          </div>
      </div>
    </div>
  </section>
