<%# <style>
  body
    background-color: #572EFA;

</style> %>
  <div class="text-end">
    <div class="home d-flex align-items-center">
      <div class="img">
        <%= image_tag 'Ateliers.jpg' %>
      </div>
      <div class="home-text">
        <div class="presentation title">
          <h1>Laurence & Jean Leccia</h1>
        </div>
        <div class="presentation desc">
          <p>Laurence LECCIA & Jean LECCIA vous accueillent dans leurs ateliers à Pignan, près de Montpellier, dans l’Hérault.
              Peintres reconnus depuis de nombreuses années, ils exposent en France et à l’étranger.
              <br>
              Découvrez leur biographie, leurs toiles, leurs expositions et toute la Presse.</p>
        </div>
      </div>
    </div>
  </div>
  <div class='container'>
    <%#= render 'shared/carrousel' %>
  </div>
