<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
  <div class="container text-end">
    <h1>Laurence & Jean Leccia</h1>
    <p>Laurence LECCIA & Jean LECCIA vous accueillent dans leurs ateliers à Pignan, près de Montpellier, dans l’Hérault.
        Peintres reconnus depuis de nombreuses années, ils exposent en France et à l’étranger.
        Découvrez leur biographie, leurs toiles, leurs expositions et toute la Presse.</p>
  </div>
</div>
  <div class='container'>
    <%#= render 'shared/carrousel' %>
  </div>
