.navbar-lewagon {
  justify-content: space-between;
  background: #572EFA;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 60px;
  height: 100%;
  border-radius: 8px;
}

.active {
  a {
    color: white !important;
    &:hover {
      text-decoration: underline;
    }
  }
}

.nav-item.dropdown {
  cursor: pointer;
  padding: 8px;
  a {
    text-decoration: none;
    color: white;
    &:hover {
      text-decoration: underline;
    }
  }
  .dropdown-menu {
    background: #572EFA;
    .dropdown-item {
      &:hover {
        text-decoration: underline !important;
        text-underline-position: under;
        background: #572EFA;
      }
    }
  }
}

// .select {
//   background-color: #190b5ce3;
// }
